In [6]:
pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pandas as pd
from sqlalchemy import create_engine

# Set up the SQLAlchemy engine to connect to the MySQL database
engine = create_engine('mysql+pymysql://root:@localhost/bikeshahd')

# SQL query to get the top 5 products with the highest total sales revenue
query = """
    SELECT p.product_id, p.product_name, SUM(oi.list_price * oi.quantity) AS total_sales_revenue
    FROM order_items oi
    JOIN products p ON oi.product_id = p.product_id
    GROUP BY p.product_id, p.product_name
    ORDER BY total_sales_revenue DESC
    LIMIT 5;
"""

# Execute the query using pandas and SQLAlchemy engine
top_5_products = pd.read_sql(query, engine)

# Display the result
print(top_5_products)

   product_id                   product_name  total_sales_revenue
0           7       Trek Slash 8 27.5 - 2016            615998.46
1           9           Trek Conduit+ - 2016            434998.55
2           4       Trek Fuel EX 8 29 - 2016            414698.57
3          11    Surly Straggler 650b - 2016            253829.49
4          56  Trek Domane SLR 6 Disc - 2017            236499.57

In [16]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost/bikeshahd')

# SQL query to find customers who placed the most orders in June and November 2018
query = """
    SELECT orders.customer_id, COUNT(orders.order_id) AS order_count
    FROM orders
    WHERE (MONTH(orders.order_date) = 6 OR MONTH(orders.order_date) = 11)
      AND YEAR(orders.order_date) = 2018
    GROUP BY orders.customer_id
    ORDER BY order_count DESC
    LIMIT 1
"""

# Execute the query using pandas read_sql
top_customer = pd.read_sql(query, engine)

# Display the result
print(top_customer)

   customer_id  order_count
0            1            1

In [7]:
import pandas as pd
from sqlalchemy import create_engine

# Set up the SQLAlchemy engine to connect to the MySQL database
engine = create_engine('mysql+pymysql://root:@localhost/bikeshahd')

# SQL query to get all stores with their total stock quantities for all products
query = """
    SELECT st.store_id, st.store_name, SUM(stk.quantity) AS total_stock_quantity
    FROM stocks stk
    JOIN stores st ON stk.store_id = st.store_id
    GROUP BY st.store_id, st.store_name;
"""

# Execute the query using pandas and SQLAlchemy engine
stores_stock = pd.read_sql(query, engine)

# Display the result
print(stores_stock)

   store_id        store_name  total_stock_quantity
0         1  Santa Cruz Bikes                4532.0
1         2     Baldwin Bikes                4359.0
2         3     Rowlett Bikes                4620.0

In [13]:
import pandas as pd
from sqlalchemy import create_engine

# Set up the SQLAlchemy engine to connect to the MySQL database
engine = create_engine('mysql+pymysql://root:@localhost/bikeshahd')

# SQL query to get staff members who work at stores located in California, New York, or Texas
query = """
    SELECT st.store_id, st.store_name, s.staff_id, s.first_name
    FROM staffs s
    JOIN stores st ON s.store_id = st.store_id
    WHERE st.state IN ('CA', 'NY', 'TX');
"""

# Execute the query using pandas and SQLAlchemy engine
staff_in_stores = pd.read_sql(query, engine)

# Display the result
print(staff_in_stores)

   store_id        store_name  staff_id  first_name
0         1  Santa Cruz Bikes         1     Fabiola
1         1  Santa Cruz Bikes         2      Mireya
2         1  Santa Cruz Bikes         3       Genna
3         1  Santa Cruz Bikes         4      Virgie
4         2     Baldwin Bikes         5    Jannette
5         2     Baldwin Bikes         6   Marcelene
6         2     Baldwin Bikes         7      Venita
7         3     Rowlett Bikes         8        Kali
8         3     Rowlett Bikes         9       Layla
9         3     Rowlett Bikes        10  Bernardine

In [12]:
import pandas as pd
from sqlalchemy import create_engine

# Set up the SQLAlchemy engine to connect to the MySQL database
engine = create_engine('mysql+pymysql://root:@localhost/bikeshahd')

# SQL query to identify categories of products with the highest total revenue
query = """
    SELECT c.category_name, SUM(oi.list_price * oi.quantity) AS total_revenue
    FROM order_items oi
    JOIN products p ON oi.product_id = p.product_id
    JOIN categories c ON p.category_id = c.category_id
    GROUP BY c.category_name
    ORDER BY total_revenue DESC;
"""

# Execute the query using pandas and SQLAlchemy engine
category_revenue = pd.read_sql(query, engine)

# Display the result
print(category_revenue)

         category_name  total_revenue
0       Mountain Bikes     3030775.71
1           Road Bikes     1852555.60
2    Cruisers Bicycles     1109151.04
3       Electric Bikes     1020236.85
4  Cyclocross Bicycles      799874.60
5     Comfort Bicycles      438506.87
6    Children Bicycles      327888.21