In [1]:
#Create the dataste 
Data= {'Name':['Shahd','Nancy','Nagham','Aya','Ali','Ziad','Mohamed'],
       'Age':[22,20,23,26,30,32,27],
       'City':['Cairo','Cairo','Port Saeed','Alexandria','Giza','Mansoura','Damietta'],
       'Code':[1114,1325,1987,1236,2345,3456,4567]}
#Activate pandas
import pandas as pd
df = pd.DataFrame(Data)
print(df)

      Name  Age        City  Code
0    Shahd   22       Cairo  1114
1    Nancy   20       Cairo  1325
2   Nagham   23  Port Saeed  1987
3      Aya   26  Alexandria  1236
4      Ali   30        Giza  2345
5     Ziad   32    Mansoura  3456
6  Mohamed   27    Damietta  4567

In [2]:
#Create the dataste 
Data= {'Name':['Shahd','Nancy','Nagham','Aya','Ali','Ziad','Mohamed'],
       'Age':[22,20,23,26,30,32,27],
       'City':['Cairo','Cairo','Port Saeed','Alexandria','Giza','Mansoura','Damietta'],
       'Code':[1114,1325,1987,1236,2345,3456,4567]}
#Activate pandas
import pandas as pd
df = pd.DataFrame(Data)
#Viewing the first 5 rows
print(df.head())

     Name  Age        City  Code
0   Shahd   22       Cairo  1114
1   Nancy   20       Cairo  1325
2  Nagham   23  Port Saeed  1987
3     Aya   26  Alexandria  1236
4     Ali   30        Giza  2345

In [3]:
#Create the dataste 
Data= {'Name':['Shahd','Nancy','Nagham','Aya','Ali','Ziad','Mohamed'],
       'Age':[22,20,23,26,30,32,27],
       'City':['Cairo','Cairo','Port Saeed','Alexandria','Giza','Mansoura','Damietta'],
       'Code':[1114,1325,1987,1236,2345,3456,4567]}
#Activate pandas
import pandas as pd
df = pd.DataFrame(Data)
#Getting Data informatio 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Age     7 non-null      int64
 2   City    7 non-null      object
 3   Code    7 non-null      int64
dtypes: int64(2), object(2)
memory usage: 356.0+ bytes
None

In [4]:
#Create the dataste 
Data= {'Name':['Shahd','Nancy','Nagham','Aya','Ali','Ziad','Mohamed'],
       'Age':[22,20,23,26,30,32,27],
       'City':['Cairo','Cairo','Port Saeed','Alexandria','Giza','Mansoura','Damietta'],
       'Code':[1114,1325,1987,1236,2345,3456,4567]}
#Activate pandas
import pandas as pd
df = pd.DataFrame(Data)
#Describing Statistical Information
print(df.describe())

             Age         Code
count   7.000000     7.000000
mean   25.714286  2290.000000
std     4.347961  1295.134227
min    20.000000  1114.000000
25%    22.500000  1280.500000
50%    26.000000  1987.000000
75%    28.500000  2900.500000
max    32.000000  4567.000000

In [5]:
#Create the dataste 
Data= {'Name':['Shahd','Nancy','Nagham','Aya','Ali','Ziad','Mohamed'],
       'Age':[22,20,23,26,30,32,27],
       'City':['Cairo','Cairo','Port Saeed','Alexandria','Giza','Mansoura','Damietta'],
       'Code':[1114,1325,1987,1236,2345,3456,4567]}
#Activate pandas
import pandas as pd
df = pd.DataFrame(Data)
#Selecting Columns
print(df['Age'])

0    22
1    20
2    23
3    26
4    30
5    32
6    27
Name: Age, dtype: int64

In [6]:
#Create the dataste 
Data= {'Name':['Shahd','Nancy','Nagham','Aya','Ali','Ziad','Mohamed'],
       'Age':[22,20,23,26,30,32,27],
       'City':['Cairo','Cairo','Port Saeed','Alexandria','Giza','Mansoura','Damietta'],
       'Code':[1114,1325,1987,1236,2345,3456,4567]}
#Activate pandas
import pandas as pd
df = pd.DataFrame(Data)
#Filtering Rows Based on Condition
Filtered_df=df[df['Age']<25]
print(Filtered_df)

     Name  Age        City  Code
0   Shahd   22       Cairo  1114
1   Nancy   20       Cairo  1325
2  Nagham   23  Port Saeed  1987

In [7]:
#Create the dataste 
Data= {'Name':['Shahd','Nancy','Nagham','Aya','Ali','Ziad','Mohamed'],
       'Age':[22,20,23,26,30,32,27],
       'City':['Cairo','Cairo','Port Saeed','Alexandria','Giza','Mansoura','Damietta'],
       'Code':[1114,1325,1987,1236,2345,3456,4567]}
#Activate pandas
import pandas as pd
df = pd.DataFrame(Data)
#Selecting Specific Rows and Columns
print(df.loc[0:1,'Name':'Code'])

    Name  Age   City  Code
0  Shahd   22  Cairo  1114
1  Nancy   20  Cairo  1325

In [9]:
#Create the dataste 
Data= {'Name':['Shahd','Nancy','Nagham','Aya','Ali','Ziad','Mohamed'],
       'Age':[22,20,23,26,30,32,27],
       'City':['Cairo','Cairo','Port Saeed','Alexandria','Giza','Mansoura','Damietta'],
       'Code':[1114,1325,1987,1236,2345,3456,4567]}
#Activate pandas
import pandas as pd
df = pd.DataFrame(Data)
#Selecting Specific Rows and Columns
print(df.iloc[0:2,0:4])

    Name  Age   City  Code
0  Shahd   22  Cairo  1114
1  Nancy   20  Cairo  1325

In [10]:
#Create the dataste 
Data= {'Name':['Shahd','Nancy','Nagham','Aya','Ali','Ziad','Mohamed'],
       'Age':[22,20,23,26,30,32,27],
       'City':['Cairo','Cairo','Port Saeed','Alexandria','Giza','Mansoura','Damietta'],
       'Code':[1114,1325,1987,1236,2345,3456,4567]}
#Activate pandas
import pandas as pd
df = pd.DataFrame(Data)
#Adding a New Column
df['Department']=['Hr','Hr','IT','Finance','Finance','MKT','IT']
print(df)

      Name  Age        City  Code Department
0    Shahd   22       Cairo  1114         Hr
1    Nancy   20       Cairo  1325         Hr
2   Nagham   23  Port Saeed  1987         IT
3      Aya   26  Alexandria  1236    Finance
4      Ali   30        Giza  2345    Finance
5     Ziad   32    Mansoura  3456        MKT
6  Mohamed   27    Damietta  4567         IT

In [12]:
#Create the dataste 
Data= {'Name':['Shahd','Nancy','Nagham','Aya','Ali','Ziad','Mohamed'],
       'Age':[22,20,23,26,30,32,27],
       'City':['Cairo','Cairo','Port Saeed','Alexandria','Giza','Mansoura','Damietta'],
       'Code':[1114,1325,1987,1236,2345,3456,4567]}
#Activate pandas
import pandas as pd
df = pd.DataFrame(Data)
#Adding a New Column
df['Department']=['Hr','Hr','IT','Finance','Finance','MKT','IT']
print(df)
#Updating Coloumn Values
df['Age']=df['Age']+1
print(df)

      Name  Age        City  Code Department
0    Shahd   22       Cairo  1114         Hr
1    Nancy   20       Cairo  1325         Hr
2   Nagham   23  Port Saeed  1987         IT
3      Aya   26  Alexandria  1236    Finance
4      Ali   30        Giza  2345    Finance
5     Ziad   32    Mansoura  3456        MKT
6  Mohamed   27    Damietta  4567         IT
      Name  Age        City  Code Department
0    Shahd   23       Cairo  1114         Hr
1    Nancy   21       Cairo  1325         Hr
2   Nagham   24  Port Saeed  1987         IT
3      Aya   27  Alexandria  1236    Finance
4      Ali   31        Giza  2345    Finance
5     Ziad   33    Mansoura  3456        MKT
6  Mohamed   28    Damietta  4567         IT

In [ ]:
#Create the dataste 
Data= {'Name':['Shahd','Nancy','Nagham','Aya','Ali','Ziad','Mohamed'],
       'Age':[22,20,23,26,30,32,27],
       'City':['Cairo','Cairo','Port Saeed','Alexandria','Giza','Mansoura','Damietta'],
       'Code':[1114,1325,1987,1236,2345,3456,4567]}
#Activate pandas
import pandas as pd
df = pd.DataFrame(Data)
#Dropping row
print(df.drop(0))
#the value between the () indicates the raw label & the axis value is on default 0

      Name  Age        City  Code
1    Nancy   20       Cairo  1325
2   Nagham   23  Port Saeed  1987
3      Aya   26  Alexandria  1236
4      Ali   30        Giza  2345
5     Ziad   32    Mansoura  3456
6  Mohamed   27    Damietta  4567

In [15]:
#Create the dataste 
Data= {'Name':['Shahd','Nancy','Nagham','Aya','Ali','Ziad','Mohamed'],
       'Age':[22,20,23,26,30,32,27],
       'City':['Cairo','Cairo','Port Saeed','Alexandria','Giza','Mansoura','Damietta'],
       'Code':[1114,1325,1987,1236,2345,3456,4567]}
#Activate pandas
import pandas as pd
df = pd.DataFrame(Data)
#Dropping row
print(df.drop('Code',axis=1))
#the value between the () indicates the column label & to drop a cloumn you must add the axis value of 1

      Name  Age        City
0    Shahd   22       Cairo
1    Nancy   20       Cairo
2   Nagham   23  Port Saeed
3      Aya   26  Alexandria
4      Ali   30        Giza
5     Ziad   32    Mansoura
6  Mohamed   27    Damietta

In [18]:
df_with_nan=pd.DataFrame({'A':[1,None,2,3,],'B':[4,3,None,None]})
print(df_with_nan)
#Detecting Missing Values
print(df_with_nan.isnull())
#Filling Missing Values
print(df_with_nan.fillna(0))

     A    B
0  1.0  4.0
1  NaN  3.0
2  2.0  NaN
3  3.0  NaN
       A      B
0  False  False
1   True  False
2  False   True
3  False   True
     A    B
0  1.0  4.0
1  0.0  3.0
2  2.0  0.0
3  3.0  0.0

In [20]:
df_with_nan=pd.DataFrame({'A':[1,None,2,3,],'B':[4,3,None,None]})
print(df_with_nan)
#Detecting Missing Values
print(df_with_nan.isnull())
#Filling Missing Values
print(df_with_nan.fillna(df_with_nan['A'].mean()))

     A    B
0  1.0  4.0
1  NaN  3.0
2  2.0  NaN
3  3.0  NaN
       A      B
0  False  False
1   True  False
2  False   True
3  False   True
     A    B
0  1.0  4.0
1  2.0  3.0
2  2.0  2.0
3  3.0  2.0

In [23]:
df_with_nan=pd.DataFrame({'A':[1,None,2,3,],'B':[4,3,None,None]})
print(df_with_nan)
#Detecting Missing Values
print(df_with_nan.isnull())
#Dropping Rows with Missing Values
Cleaned_df=df_with_nan.dropna()
print(Cleaned_df)

     A    B
0  1.0  4.0
1  NaN  3.0
2  2.0  NaN
3  3.0  NaN
       A      B
0  False  False
1   True  False
2  False   True
3  False   True
     A    B
0  1.0  4.0

In [26]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'Sales'],
    'Salary': [4500, 5500, 7000, 5200, 4800]
}

df = pd.DataFrame(data)

print(df)
#Applying Custom Functions with apply()

def Double_Salary (x):
   return x*2


df['Double Salary']=df['Salary'].apply(Double_Salary)
print(df['Double Salary'])

  Department  Salary
0         HR    4500
1    Finance    5500
2         IT    7000
3  Marketing    5200
4      Sales    4800
0     9000
1    11000
2    14000
3    10400
4     9600
Name: Double Salary, dtype: int64

In [29]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Department': ['HR', 'HR', 'IT', 'Marketing', 'IT'],
    'Salary': [4500, 5500, 7000, 5200, 4800]
}

df = pd.DataFrame(data)

print(df)
grouped =df.groupby('Department').mean()
print(grouped)

  Department  Salary
0         HR    4500
1         HR    5500
2         IT    7000
3  Marketing    5200
4         IT    4800
            Salary
Department
HR          5000.0
IT          5900.0
Marketing   5200.0